<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bower_components/bootswatch-dist/css/bootstrap.min.css' />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script language='javascript'>
      "use strict";

      var purecloud_region  = '<%= settings.purecloud_region || "com" %>';
      var purecloud_token   = '<%= purecloud_token %>';
      var purecloud_session = null;
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Interactive Intelligence, Inc." src="/images/logo-inin.png" width="40">
          </a>
          <a class="navbar-brand" href="/">&nbsp;PureCloud API Demo</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <p class="navbar-text logged_in">
                <a id="text_ok" href="/users/me" class="navbar-link"><span id="user"></span>&nbsp;<span class="glyphicon glyphicon-user"></span></a>
                <span id="text_ng">&nbsp;</span>
              </p>
            </li>
            <li>
              <a id='logout_form' href="javascript:logout()" class="navbar-link"><span class="glyphicon glyphicon-log-out"></span> Log off</a>
              <a id='login_form' href="javascript:login()" class="btn btn-primary btn-lg active"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="flash" class="alert alert-dismissible fade in">
      <button type="button" class="close" data-dismiss="alert" arial-label="Close"><span arial-hidden="true">&times;</span></button>
      <span id="text"></span>
    </div>

    <div class="container body-content">
    <%- body %>
      <hr />
      <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="pull-left">
                  <div class="foot-header">
                    Get the <a href="https://github.com/gildas/DialerPureCloudAPIDemo">source</a>!
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="foot-header">
                  <p class="text-center">PureCloud Dialer API Demonstration</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="pull-right">
                   <div class="foot-header">
                     v. <a href="https://github.com/gildas/DialerPureCloudAPIDemo/tree/<%= app_version %>"><%= app_version %></a>
                     <% if (git_commit) { -%>
                     | <a href="https://github.com/gildas/DialerPureCloudAPIDemo/tree/<%= git_commit %>"><%= git_commit %>@<%= git_branch %></a>
                     <% } -%>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </footer>
    </div>
    <!-- SCRIPTS  {{{ -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery.redirect/jquery.redirect.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/mustache.js/mustache.min.js"></script>
    <script src="/bower_components/PureCloud/dist/purecloud-api.js"></script>

    <script src="/javascripts/statebutton.js"></script>
    <script src="/javascripts/helpers.js"></script>
    <script language='javascript'>
      function login()
      {
        console.log("Logging in to " + purecloud_session._host + '...');
        console.log("PureCloud application id: <%= settings.application_id %>");
        console.log("PureCloud redirect URI: " + window.location.href);
        purecloud_session.authorize("<%= settings.application_id %>", window.location.href)
          .done(function(){ console.log('Logged in!'); enable_if_loggedin(); });
      }

      function logout()
      {
        console.log("Logging out...");
        purecloud_session.logout();
        window.location.replace('/logout');
      }

      function enable_if_loggedin()
      {
        if (purecloud_session && purecloud_session.hasAuthorizationToken()) {
          console.log("User is logged in");
          $('.logged_in #text_ok #user').text('<%= current_user ? current_user.displayName : "" %>');
          $('.logged_in #text_ok').show();
          $('.logged_in #text_ng').hide();
          $('.logged_in').removeClass('disabled');
          $('#login_form').hide();
          $('#logout_form').show();
        } else {
          console.log("User is NOT logged in");
          $('.logged_in #text_ok #user').text("");
          $('.logged_in #text_ok').hide();
          $('.logged_in #text_ng').show();
          $('.logged_in').addClass('disabled');
          $('#login_form').show();
          $('#logout_form').hide();
        }
      }

      $(document).ready(function(){
        $('#flash').hide();
        // Due to a bug in PureCloudSession's constructor, we have to set the environment later (still true in 0.20.3)
        //purecloud_session = new PureCloudSession('mypurecloud.<%= settings.purecloud_region %>');
        purecloud_session = new PureCloudSession();

        purecloud_session.setEnvironment('mypurecloud.' + purecloud_region);
        <% if (purecloud_token) { %>
        console.log("Received token from Web Session: <%= purecloud_token %>");
        purecloud_session.setAuthToken("<%= purecloud_token %>");
        <% } else { %>
        if (purecloud_session.getAuthToken())
        {
          console.log("Received token from OAUTH: " + purecloud_session.getAuthToken());
          new UsersApi(purecloud_session).getMe()
            .done(function(user){
              console.log('PureCloud User: ' + user.username + ' (' + user.displayName + ')');
              $.redirect('/login', { token: purecloud_session.getAuthToken(), user: JSON.stringify(user) });
            })
            .fail(function(error){ console.error('PureCloud User: none, error: ' + error); });
        }
        <% } %>

        initialize_view();
        enable_if_loggedin();
      });
    </script>
    <!-- SCRIPTS }}} -->
    
  </body>
</html>

