<!DOCTYPE html>
<html>
  <head>
    <meta charset-"utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='bower_components/bootswatch-dist/css/bootstrap.min.css' />
    <!-- SCRIPTS  {{{ -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery.redirect/jquery.redirect.js"></script>
    <script src="bower_components/bootswatch-dist/js/bootstrap.min.js"></script>
    <script src="bower_components/mustache.js/mustache.min.js"></script>
    <script src="bower_components/PureCloud/dist/purecloud-api.js"></script>
    <script language='javascript'>
      //var purecloud_session = new PureCloudSession('mypurecloud.<%= settings.purecloud_region %>');
      var purecloud_session = new PureCloudSession();

      purecloud_session.setEnvironment('mypurecloud.<%= settings.purecloud_region %>');
      <% if (token) { %>
      purecloud_session.setAuthToken("<%= token %>");
      <% } else { %>
      if (purecloud_session.getAuthToken())
      {
        console.log("Received token from OAUTH: " + purecloud_session.getAuthToken());
        new UsersApi(purecloud_session).getMe()
          .done(function(user){
            console.log('PureCloud User: ' + user.username + ' (' + user.displayName + ')');
            //setTimeout(function() { console.log("10 second pause before redirecting to /login"); }, 10000);
            $.redirect('/login', { token: purecloud_session.getAuthToken(), user: JSON.stringify(user) });
          }).error(function(error){
            console.log('PureCloud User: none, error: ' + error);
          });
      }
      <% } %>

      function login()
      {
        console.log("Logging in to " + purecloud_session._host + '...');
        console.log("PureCloud application id: <%= settings.application_id %>");
        purecloud_session.authorize("<%= settings.application_id %>", 'http://localhost:<%= settings.port %>/')
          .done(function(){
            console.log('Logged in!');
          });
      }

      function logout()
      {
        console.log("Logging out...");
        purecloud_session.logout();
        window.location.replace('/logout');
      }

    </script>
    <!-- SCRIPTS }}} -->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">PureCloud API Demo</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
              <% if (token) { %>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/users/me">Hello <%= current_user.displayName %>!</a></li>
                  <li><a href="javascript:logout()">Log off</a></li>
                </ul>
              <% } else { %>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="javascript:login()" class="btn btn-primary btn-lg active">Login</a></li>
                </ul>
              <% } %>
            </div>
        </div>
    </div>

    <div class="container body-content">
    <%- body %>
      <hr />
      <footer>
        <p>iPureCloud Dialer API Demonstration</p>
      </footer>
    </div>

  </body>
</html>

