<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootswatch-dist/css/bootstrap.min.css' />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script language='javascript'>
      "use strict";

      var purecloud_region  = '<%= settings.purecloud_region || "com" %>';
      var purecloud_session = null;
    </script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-left nav-logo" href="#">
            <img alt="Interactive Intelligence, Inc." src="/images/logo-inin.png" width="40">
          </a>
          <a class="navbar-brand" href="/">&nbsp;PureCloud API Demo</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <p class="navbar-text">
                <a id="current_user" href="/users/me" class="navbar-link"><span id="user"></span>&nbsp;<span class="glyphicon glyphicon-user"></span></a>
              </p>
            </li>
            <li>
              <button id="login_off" class="btn btn-primary active" data-login="Log in" data-logoff="Log off">
                <span id="icon" class="glyphicon"></span>&nbsp;<span id="text">Log in</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container body-content">
      <div id="flash" class="alert alert-dismissible fade in">
        <button type="button" class="close" data-dismiss="alert" arial-label="Close"><span arial-hidden="true">&times;</span></button>
        <span id="text"></span>
      </div>

    <%- body %>
      <hr />
      <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="pull-left">
                  <div class="foot-header">
                    Get the <a href="https://github.com/gildas/DialerPureCloudAPIDemo">source</a>!
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="foot-header">
                  <p class="text-center">PureCloud Dialer API Demonstration</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="pull-right">
                   <div class="foot-header">
                     v. <a href="https://github.com/gildas/DialerPureCloudAPIDemo/tree/<%= app_version %>"><%= app_version %></a>
                     <% if (git_commit) { -%>
                     | <a href="https://github.com/gildas/DialerPureCloudAPIDemo/tree/<%= git_commit %>"><%= git_commit %>@<%= git_branch %></a>
                     <% } -%>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </footer>
    </div>
    <!-- SCRIPTS  {{{ -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery.redirect/jquery.redirect.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/mustache.js/mustache.min.js"></script>
    <script src="/bower_components/PureCloud/dist/purecloud-api.js"></script>
    <script src="/javascripts/statebutton.js"></script>
    <script src="/javascripts/helpers.js"></script>
    <script language='javascript'>
      function login(event)
      {
        console.log("Logging in mypurecloud." + purecloud_region + '...');
        console.log("PureCloud application id: <%= settings.application_id %>");
        console.log("PureCloud redirect URI: " + window.location.href);
        purecloud_session.authorize("<%= settings.application_id %>", window.location.href, null, 'mypurecloud.' + purecloud_region)
          .done(function(){
            console.log("PureCloud Token: %s", purecloud_session.getAuthToken());
            console.log('a user is logged in, displaying logoff button!');
              $('#login_off #icon').addClass('glyphicon-log-out');
              $('#login_off #text').text($('#login_off').attr('data-logoff'));
              $('#login_off').on('click', logoff);
              $('.logged_in #text_ok').show();
              $('.logged_in #text_ng').hide();
              $('#login_off').show();
              new UsersApi(purecloud_session).getMe()
                .done(function(user){
                  console.log('Logged in user: %s', user.id);
                  console.dir(user);
                  $('#current_user #user').text(user.displayName);
                  $('#current_user').show();
                  $.ajax({
                    method: 'POST',
                    url: '/login',
                    data: {
                      token: purecloud_session.getAuthToken(),
                      user:  JSON.stringify(user),
                    },
                  })
                  .done(function(){ console.log("Current user updated"); });
                });
          });
      }

      function logoff(event)
      {
        console.log("Logging off...");
        purecloud_session.logout();
        window.location.replace('/');
      }

      $(document).ready(function(){
        $('#flash').hide();
        $('#current_user').hide();
        $('#login_off').hide();
        purecloud_session = new PureCloudSession();

        //purecloud_session.debug(true);
        <% if (purecloud_token) { %>
        console.log("Received token from Web Session: <%= purecloud_token %>");
        purecloud_session.setAuthToken("<%= purecloud_token %>");
        <% } %>
        if (purecloud_session.hasAuthorizationToken())
        {
          // This will verify the token is good as well as setting the environment properly.
          login();
        }
        else
        {
          console.log("PureCloud is not logged in, displaying login button");
          $('#login_off #icon').addClass('glyphicon-log-in');
          $('#login_off #text').text($('#login_off').attr('data-login'));
          $('#login_off').on('click', login);
          $('#login_off').show();
        }
        initialize_view(purecloud_session);
      });
    </script>
    <!-- SCRIPTS }}} -->
  </body>
</html>

