<% layout('../layout') -%>

<h2>Details &nbsp;<i id="spinner-load" class="fa fa-refresh fa-spin" style="font-size:24px"></i></h2>

<div id="contact_view"></div>

<div>
    <a href="/Contacts/?contactlist_id=<%= contactlist_id %>">Back to Contacts</a>
  | <a href="/ContactLists/<%= contactlist_id %>">Back to Contact List</a>
</div>

<script id="contact_template" type="text/template">
<h4>Contact Details</h4>
<hr/>
<dl class="dl-horizontal">
  {{#columns}}
  <dt>{{name}}</dt> <dd>{{value}}</dd>
  {{/columns}}
</dl>
</script>

<script>
var outbound_api;
var contactlist;
var contact;

function initialize_view()
{
  outbound_api = new OutboundApi(purecloud_session);

  console.log('Loading ContactList <%= contactlist_id %>');
  outbound_api.getContactlist('<%= contactlist_id %>')
    .done(function(data) {
      contactlist = data;
      console.log('Loading Contact <%= id %>');
      outbound_api.getContactlistContact('<%= contactlist_id %>', '<%= id %>')
        .done(view_contact)
        .fail(function(error){ console.error(error); });
    })
    .fail(function(error){ console.error(error); });
}

function view_contact(data)
{
  console.log("Displaying Contact %s %O", contact.id, contact);

  // Unfortunately, columns can have names that cannot be fetched easily
  // by jQuery once they are used as DOM ids
  console.log("Create object with safe ids")
  var blob = {
    id:             data.id,
    contactlist_id: data.contactListId,
    columns:        contactlist.columnNames.map(function(column){
                      return {
                        id:    column.replace( /([\/ \.\?])/g, "_"),
                        name:  column,
                        value: data.data[column]
                      }
                    })
  };

  console.log("Blob: %O", blob);
  render_template(blob, 'contact_view', 'contact_template');
  $('#spinner-load').hide();
}
</script>
